GITLAB_BASE_URL=https://gitlab.example.com
GITLAB_PROJECT_ID=my-group/data-contracts
GITLAB_REPOSITORY_URL=https://gitlab.example.com/my-group/data-contracts
GITLAB_TOKEN=glpat-xxxxxxxxxxxxxxxx
GITLAB_REF=main
